<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>HI everyone, Amitoj dhanju this side. I love to create positivity around me.</p>
<p>I am always ready for new adventures. </p>
<p>I'm ready to be a good human being.</p>
</article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>I'm ready to create more adventures</p>
</aside>
</div>